/* *{
    height: 0px;
    width: 0px;
} */
div{    
    width: 100%;
    background-color: black;
    border: 2px solid black;
    position: fixed;
    margin-top: 0px;
}
#d1{
    width: 100%;
    background-color: black;
}

a{
    text-decoration: none;
    color:white;
    margin-left: 75px;
}
a:hover{
    color: rgba(55, 55, 167, 0.651);
}
#tb1{
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    

}
 th, td{
    border: 1px solid black;
    
}
#a1{
    color:rgb(40, 40, 204);
    text-decoration: underline;
    
    }
    #a1:hover {
        color: rgb(115, 14, 230);
    }
    


button{
    background-color: black;
    color: white;
    width: 100%;
}
#first_name{
    width: 100%;
}
#last_name{
    width: 100%;
}
#date_of_birth{  width: 100%;
}
#age{  width: 100%;
}
#email{  width: 100%;
}
#password{  width: 100%;
}
#confirm_password{  width: 100%;
}


